REMED_DB_PATH=/path/to/remed.db
REMED_BACKUPS_DIR=/path/to/remed_backups

FTP_HOST={FTP_SERVER_IP}
FTP_PORT=PORT
FTP_USER=USER
FTP_PASSWORD=PASSWORD
REMOTE_BACKUP_DIR=/path/to/backup/dir

COMPRESS_AFTER_BACKUP=0
UPLOAD_AFTER_BACKUP=0